vendor/
*.log
*.cache
.env.sample
cookies.txt

.github/*

schema/*.json
schema/*.yaml

sessions/*.json
temp/uploads/*

responses/apps/get/appData.json
responses/apps/userApps.json
responses/auth/token.json
responses/logs/*.json
responses/user/users.json
