parameters:
    level: 6
    paths:
        - index.php
        - http_status.php
        - start_server.php
        - hooks/
        - tests/
    excludePaths:
        - vendor/
        - logs/
        - temp/
        - responses/
